<div class="content-container container">


  <div class="jumbotron">
    <h1>Nick Incardone</h1>

    <div id="photo">
    <img src="dist/images/profile.jpg" alt="avatar">
    </div>

    <p class="lead">I am a mult-talented developer, full stack programmer, and data scientist living in Atlanta, Ga.
      I am graduating in December and seeking a job where I can work on multiple projects to utilize all my
      skills. </p>

    </div>

    <div class="row marketing">
      <div class="col-xs-12 col-sm-6">

        <div class="section clearfix">
          <h2>Contact</h2>

          <div class="contact-item">
            <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
            <div class="title only pull-right">nickincardone@gmail.com</div>
          </div>
          <div class="contact-item">
            <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
            <div class="title only pull-right">770-401-0916</div>
          </div>
          <div class="contact-item">
            <div id="last" class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
            <div class="title only pull-right">
              <a href="https://www.linkedin.com/pub/nick-incardone/47/583/662">LinkedIn</a>
            </div>
          </div>

        </div>

        <div class="section">
          <h2>Education</h2>

          <div class="activity clearfix">
            <div class="col-xs-3 innerE">
              <div class="title">Expected</div>
              <div class="info">12/2014</div>
            </div>
            <div class="col-xs-9">
              <div class="profession">Georgia Institute of Technology</div>
              <div class="description">
                Bachelor of Science,
                Computer Science<br/>
                Focus in Data Science and Artificial Intelligence
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <h2>Experience</h2>
          <div class="activity clearfix">
            <div class="col-xs-3 innerE">
              <div class="title">Procur</div>
              <div class="info">Atlanta, GA</div>
              <div class="info">07/2014-present</div>
            </div>
            <div class="col-xs-9">
              <div class="profession">Web Development Intern</div>
              <div class="description">Developing a large scale web application. Working on the back end utilizing node.js on the sails framework, with a MongoDB database, and on the front end using angular.js, sass, and jade. Using python to extract, clean, and transform data from large structured Excel spreadsheets. Working in a medium size team utilizing agile development principles.
              </div>
            </div>
          </div>
          <div class="activity clearfix">
            <div class="col-xs-3 innerE">
              <div class="title">QuantiSense</div>
              <div class="info">Atlanta, GA</div>
              <div class="info">05/2014-present</div>
            </div>
            <div class="col-xs-9">
              <div class="profession">Data Processing Intern</div>
              <div class="description">Working remotely to transform data from structured .csv files to stylized Excel sheets using Java and Groovy (using the APACHE POI library). Creating client facing GUI's using VBA in Excel for large scale data inputs.
              </div>
            </div>
          </div>
          <div class="activity clearfix">
            <div class="col-xs-3 innerE">
              <div class="title">Publix</div>
              <div class="info">Atlanta, GA</div>
              <div class="info">08/2006-present</div>
            </div>
            <div class="col-xs-9">
              <div class="profession">Customer Service Staff</div>
              <div class="description">Manage front end associates and their schedules. Open and close the
                store. Oversee and create dynamic sales oppurtunites. Handle money services, keep cash
                accountability of cashiers, and handle accounting paperwork at the store level. Manage and
                order inventory and supplies. Lead staff memeber when it comes to cash accountability,
                supply ordering, and customer assistance.
              </div>
            </div>
          </div>
          <div class="activity clearfix">
            <div class="col-xs-3 innerE">
              <div class="title">Ivan Allen College</div>
              <div class="info">Atlanta, GA</div>
              <div class="info">09/2012-05/2013</div>
            </div>
            <div class="col-xs-9">
              <div class="profession">Information Technology Assistant</div>
              <div class="description">Helped identify and repair network issues. Managed moves, adds, and
                changes of network computers. Troubleshot desktop hardware/software problems. Assited with
                oversight on about 100 classroom machines and 25 faculty computers unsupervised, during a
                period of two months when full time IT engineer was on leave.
              </div>
            </div>
          </div>
          <div class="activity clearfix">
            <div class="col-xs-3 innerE">
              <div class="title">Heartbyte</div>
              <div class="info">Atlanta, GA</div>
              <div class="info">05/2012-08/2012</div>
            </div>
            <div class="col-xs-9">
              <div class="profession">Junior Engineer</div>
              <div class="description">Created mobile widgets utilizing HTML5, CSS3, and Javascript in a small
                startup. Created examples for mobile applications for conferences.
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <h2>Projects</h2>
          <h4><a href="https://github.com/nickincardone">Visit My GitHub</a></h4>
        </div>





      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="section">
          <h2>Languages</h2>

          <div class="Languages">
            <div class="item-skills" data-percent="0.85">Python</div>
            <div class="item-skills" data-percent="0.75">Javascript</div>
            <div class="item-skills" data-percent="0.6">Java</div>
            <div class="item-skills" data-percent="0.6">PHP</div>
            <div class="item-skills" data-percent="0.40">R</div>
            <div class="item-skills" data-percent="0.2">C/C++</div>
            <div class="item-skills" data-percent="0.175">Ruby</div>
            <div class="skills-legend clearfix">
              <div class="legend-left legend">Basic</div>
              <div class="legend-left legend"><span></span>Proficent</div>
              <div class="legend-right legend"><span>Advanced</span></div>
              <div class="legend-right legend">Expert</div>
            </div>
          </div>
        </div>

        <div class="section">
          <h2>Other Skills</h2>

          <div class="Languages">
            <div class="item-skills" data-percent="0.85">HTML5/CSS3</div>
            <div class="item-skills" data-percent="0.75">d3.js</div>
            <div class="item-skills" data-percent="0.75">Data Anaylsis</div>
            <div class="item-skills" data-percent="0.7">JQuery</div>
            <div class="item-skills" data-percent="0.6">Backbone.js</div>
            <div class="item-skills" data-percent="0.45">Mobile Web Design</div>
            <div class="skills-legend clearfix">
              <div class="legend-left legend">Basic</div>
              <div class="legend-left legend"><span>Proficient</span></div>
              <div class="legend-right legend"><span>Expert</span></div>
              <div class="legend-right legend">Master</div>
            </div>
          </div>
        </div>

        <div class="section">
          <h2>Applications</h2>

          <div class="Languages">
            <div class="item-skills" data-percent="1.00">FL Studio</div>
            <div class="item-skills" data-percent="0.68">ProTools</div>
            <div class="item-skills" data-percent="0.50">Photoshop</div>
            <div class="item-skills" data-percent="0.40">Illustrator</div>

            <div class="skills-legend clearfix">
              <div class="legend-left legend">Basic</div>
              <div class="legend-left legend"><span>Proficient</span></div>
              <div class="legend-right legend"><span>Expert</span></div>
              <div class="legend-right legend">Master</div>
            </div>
          </div>
        </div>

        <div class="section">
          <h2>Activities</h2>

          <div class="activity clearfix">
            <div class="col-xs-3 innerE">
              <div class="title"></div>
              <div class="info">10/2012-present</div>
            </div>
            <div class="col-xs-9">
              <div class="profession">Atlanta Hawk's Sixth Man</div>
              <div class="description">
                Attend every Atlanta Hawk's home game and lead cheers. Create a fan friendly atmosphere and encourage fan
                participation.
              </div>
            </div>
          </div>

          <div class="activity clearfix">
            <div class="col-xs-3 innerE">
              <div class="title"></div>
              <div class="info">2010-2013</div>
            </div>
            <div class="col-xs-9">
              <div class="profession">Music Production</div>
              <div class="description">
                Produced, mixed, and mastered music for local acts. Produced album that generated over a
                thousand downloads in the first day. Worked in home and professional studios. Assisted with
                design of artwork and logos in Photoshop and Illustrator.
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>

    <div class="footer">
      <p>&copy; Nick Incardone 2014</p>
    </div>

  </div>