$ni-blue: #4B8188;
$ni-orange: #EC7263;
$ni-grey: #EEEEEE;
$ni-light-white: #f8f8f8;
$white: #ffffff;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
$main-font: 'Open Sans', Arial, Tahoma;