<div class="shot-page content-container container">
	<div class="jumbotron">
		<h1>ShotChart App</h1>
		<p class="lead">Proof of concept of shotchart application, using data from Hawks/Pacers series of 2014 playoffs.</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-xs-12">
				<center>
				<h4>Get Player's Chart</h4>
				<select id="playerPicker">
					<option selected="selected" value="0">Players</option>
					<option value="0" data-team="11" data-id="174025">C.J. Watson</option>
					<option value="0" data-team="11" data-id="402984">Lavoy Allen</option>
					<option value="0" data-team="11" data-id="266369">Roy Hibbert</option>
					<option value="0" data-team="11" data-id="277552">George Hill</option>
					<option value="0" data-team="11" data-id="469218">Paul George</option>
					<option value="0" data-team="11" data-id="398068">Evan Turner</option>
					<option value="0" data-team="11" data-id="174092">Chris Copeland</option>
					<option value="0" data-team="11" data-id="168058">Rasual Butler</option>
					<option value="0" data-team="11" data-id="168061">Luis Scola</option>
					<option value="0" data-team="11" data-id="57934">David West</option>
					<option value="0" data-team="11" data-id="292393">Ian Mahimi</option>
					<option value="0" data-team="11" data-id="511057">Lance Stephenson</option>
					<option value="1" data-team="1" data-id="237675">Paul Millsap</option>
					<option value="1" data-team="1" data-id="3306">Elton Brand</option>
					<option value="1" data-team="1" data-id="477669">Shelvin Mack</option>
					<option value="1" data-team="1" data-id="229758">Cartier Martin</option>
					<option value="1" data-team="1" data-id="398043">Jeff Teague</option>
					<option value="1" data-team="1" data-id="398034">Mike Scott</option>
					<option value="1" data-team="1" data-id="520388">Mike Muscala</option>
					<option value="1" data-team="1" data-id="739958">Dennis Schroeder</option>
					<option value="1" data-team="1" data-id="746146">Pero Antic</option>
					<option value="1" data-team="1" data-id="58293">Kyle Korver</option>
					<option value="1" data-team="1" data-id="292401">Lou Williams</option>
					<option value="1" data-team="1" data-id="262890">DeMare Carroll</option>
				</select>
				
				</center>
			</div>
			<div class="col-md-8 col-xs-12">
				
				<center>
				<svg id="shotchart" create-court class="chart"></svg>
				</center>

			</div>
			<div class="col-md-2 col-xs-12" style="margin-left: -30px">
				<center>
				<h4>Pick Defender</h4>
				<select id="playerPicker2">
					<option selected="selected" value="0">Players</option>
					<option value="0" data-team="11" data-id="174025">C.J. Watson</option>
					<option value="0" data-team="11" data-id="402984">Lavoy Allen</option>
					<option value="0" data-team="11" data-id="266369">Roy Hibbert</option>
					<option value="0" data-team="11" data-id="277552">George Hill</option>
					<option value="0" data-team="11" data-id="469218">Paul George</option>
					<option value="0" data-team="11" data-id="398068">Evan Turner</option>
					<option value="0" data-team="11" data-id="174092">Chris Copeland</option>
					<option value="0" data-team="11" data-id="168058">Rasual Butler</option>
					<option value="0" data-team="11" data-id="168061">Luis Scola</option>
					<option value="0" data-team="11" data-id="57934">David West</option>
					<option value="0" data-team="11" data-id="292393">Ian Mahimi</option>
					<option value="0" data-team="11" data-id="511057">Lance Stephenson</option>
					<option value="1" data-team="1" data-id="237675">Paul Millsap</option>
					<option value="1" data-team="1" data-id="3306">Elton Brand</option>
					<option value="1" data-team="1" data-id="477669">Shelvin Mack</option>
					<option value="1" data-team="1" data-id="229758">Cartier Martin</option>
					<option value="1" data-team="1" data-id="398043">Jeff Teague</option>
					<option value="1" data-team="1" data-id="398034">Mike Scott</option>
					<option value="1" data-team="1" data-id="520388">Mike Muscala</option>
					<option value="1" data-team="1" data-id="739958">Dennis Schroeder</option>
					<option value="1" data-team="1" data-id="746146">Pero Antic</option>
					<option value="1" data-team="1" data-id="58293">Kyle Korver</option>
					<option value="1" data-team="1" data-id="292401">Lou Williams</option>
					<option value="1" data-team="1" data-id="262890">DeMare Carroll</option>
				</select>
				</center>
			</div>
		</div>
		<div class="row">
			<center create-shotchart>
			<input type="button" name="heha" ng-click="drawChart()" value="Make Shot Chart"/>
			</center>
		</div>
		<hr>
		<div class="row">
			<center>
			<h3>How To Use</h3>
			</center>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-12">
			        <h4 class="muted text-center">Pick An Offensive Player</h4>
			        <p>Picking a player shows all the shots he took in the series. Empty circles indicate a miss while a blue cirlcle is a made two and a red circle is a made three. Select a team to see all the shots from that team during the series.</p>
			        
			    </div>
			    <div class="col-md-4 col-xs-12">
			        <h4 class="muted text-center">Pick A Defensive Player</h4>
			        <p>Picking a defesive player shows all the shots the offensive player took while the selected defender was on the floor. Select "All Defenders" to see all the shots the offensive player took.</p>
			        
			    </div>
			    <div class="col-md-4 col-xs-12">
			        <h4 class="muted text-center">How It Was Made</h4>
			        <p>I created this by scraping shot chart and play-by-play data with python and converting it to JSON format. I then created this web page to run through the JSON to create the shot charts dynamically.</p>
			       
			    </div>
		</div>
		<hr>
		<div class="footer">
			<p>&copy; 2015</p>
		</div>
	</div>
	
</div>